$color-black: #000;
$color-red: #a31b0f;

body {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 0;
  margin-bottom: 0;
  
  font-family: "Manrope", sans-serif;
  font-weight: 200;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* --- HEADER --- */

header {
  display: flex;
  height: 100px;
  place-items: center;
}

.menu {
  height: 100px;
  width: 100%;
  align-content: center;
}

header a {
  font-size: 18px;
  font-weight: 500;
  margin-right: 3%;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

header a:hover {
  color: $color-red;
}

.btn {
  height: 55px;
  width: 222px;
  border-radius: 55px;
  background: $color-red;
  border: none;
  color: white;
  font-weight: 500;
  font-size: 18px;
  transition: 0.5s ease-in-out;
  overflow: hidden;
  margin-right: 2%;
  cursor: pointer;
  outline: none;
}

.btn:hover {
  filter: drop-shadow(0px 0px 35px #8f160140);
}

.btn:before {
  content: "";
  position: absolute;
  height: 300px;
  width: 30px;
  background: #ffffffbd;
  filter: blur(2px);
  transition: 0.8s;
  transform: rotate(-20deg) translateX(-50px) translateY(-200px);
}

.btn:hover:before {
  transform: rotate(-20deg) translateX(200px);
}

.icon {
  height: 55px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  margin-right: 2%;
}

.icon.instagram {
  
}

.icon.email {
  
}

.switch {
  width: 135px;
  height: 55px;
  border-radius: 55px;
  background-color: #eeebff;
  overflow: hidden;
}

.theme {
  margin: 2px;
  width: 51px;
  height: 51px;
  border-radius: 55px;
  background-color: white;
  transition: 0.5s ease-in-out;
  position: relative;
}

.theme.light::after {
  /* content: url(../public/icons/sun.png); */
  content: "";
  width: 15px;
  height: 15px;
  background-color: $color-black;
  position: absolute;
  border-radius: 100%;
  left: 50%;
  top: 50%;
  margin-top: -7.5px;
  margin-left: -7.5px;
}

.switch:hover > .theme.light {
  transform: rotate(45deg);
}
