$color-black: #000;
$color-red: #a31b0f;
$color-hell-red: #fbedec;

*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-thumb {
  background-color: $color-red;
}

*::-webkit-scrollbar-track {
  background-color: #ffffff01;
}

body {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 0;
  margin-bottom: 0;

  font-family: "Manrope", sans-serif;
  font-weight: 200;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* --- HEADER --- */

header {
  margin-left: -5vw;
  margin-right: -5vw;
  position: fixed;
  width: 90vw;
  padding: 0 5vw 0 5vw;
  background: #ffffffe1;
  backdrop-filter: blur(8px);
  z-index: 1000px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 13vh;
}

.header-buttons {
  display: flex;
  gap: 20px;
}

.header-buttons-mobile {
  display: flex;
  gap: 5vw;
}

.menu {
  height: 100px;
  width: 50vw;
  align-content: center;
}

header a {
  font-size: 18px;
  font-weight: 500;
  margin-right: 3%;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

header a:hover {
  color: $color-red;
}

.btn {
  position: relative;
  height: 45px;
  width: 165px;
  border-radius: 55px;
  background: $color-red;
  border: none;
  color: white;
  font-weight: 500;
  font-size: 18px;
  transition: 0.5s ease-in-out;
  overflow: hidden;
  margin-right: 2%;
  cursor: pointer;
  outline: none;
}

.btn:hover {
  filter: drop-shadow(0px 0px 20px #8f160140);
  transform: scale(1.01);
}

.icon {
  height: 45px;
  cursor: pointer;
  transition: 0.3s;
}

.icon-mobile {
  margin-right: 0;
  height: 13.5vw;
  width: 13.5vw;
}

.icon-menu {
  border-radius: 50%;
  background-color: var(--switch-background);
  border: 1px solid var(--main-elements-color);
  cursor: pointer;
  height: 13.45vw;
  width: 13.45vw;
}

.icon.instagram {
  content: url(./assets/icons/insta.svg);
}

.icon.email {
  content: url(./assets/icons/email.svg);
}

.icon-menu {
   content: url(./assets/icons/icon-menu.svg);
}

.switch {
  width: 100px;
  height: 45px;
  border-radius: 55px;
  background-color: #eeebff;
  overflow: hidden;
}
.switch:hover > .theme.light {
  transform: rotate(45deg);
}

.theme {
  margin: 2px;
  top: -1px;
  width: 45px;
  height: 43px;
  border-radius: 55px;
  background-color: white;
  transition: 0.5s ease-in-out;
  position: relative;
}

.theme.light::after {
  /* content: url(../public/icons/sun.png); */
  content: "";
  width: 15px;
  height: 15px;
  background-color: $color-black;
  position: absolute;
  border-radius: 100%;
  left: 50%;
  top: 50%;
  margin-top: -7.5px;
  margin-left: -7.5px;
}

/* --- Welcome block --- */

.welcome-block {
  background-color: white;
  height: 800px;
  display: flex;
  place-items: center;
  h1 {
    font-size: 52px;
  }
  h2 {
    font-size: 42px;
    font-weight: 450;
  }
  h3 {
    font-size: 30px;
    font-weight: 300;
  }
  .title {
    background: linear-gradient(
      to right,
      #a31b0f,
      #a31b0f,
      #e26c0b,
      #eeebff,
      #b65404,
      #a31b0f,
      #a31b0f
    );
    background-clip: text;
    color: transparent;
    background-size: 200%;
    animation: gradientAnimation 4s linear infinite;
  }
  @keyframes gradientAnimation {
    0% {
      background-position: 200% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .first-block {
    align-content: center;
    width: 55%;
  }
  .main-image-box {
    width: 45%;
    margin-top: -2%;
    .image {
      max-height: 400px;
      border-radius: 15px;
    }
  }
}

/* --- Service Block --- */

.service-block {
  height: 500px;
  margin-left: -5vw;
  margin-right: -5vw;
  padding: 0 5vw;
  background: #fbfaff;
  align-content: center;
  .tag {
    display: flex;
    font-size: 22px;
    font-weight: 500;
    background: $color-hell-red;
    color: $color-red;
    margin: 0 12px 0 0;
    padding: 8px 22px 8px 8px;
    border-radius: 24px;
    white-space: nowrap;
    .tag-icon {
      margin: -10px;
      padding: 0;
      position: relative;
      content: url(./assets/icons/check.png);
      background: none;
      scale: 0.33;
      height: 50px;
    }
  }
}

/* --- Portfolio Block --- */
.gradient-part-one {
  position: absolute;
  background: linear-gradient(to right, transparent, white);
  color: transparent;
  height: 70px;
  width: 200px;
}
.gradient-part-two {
  position: absolute;
  background: linear-gradient(to left, transparent, white);
  color: transparent;
  height: 70px;
  width: 200px;
}
.portfolio-block {
  height: auto;
  .first-block {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-title {
    font-size: 56px;
    background: linear-gradient(to right, black, $color-red);
    color: transparent;
    background-clip: text;
  }
  .title-border {
    font-size: 56px;
    color: white;
    margin: 10px 0;
    text-shadow: -1px -1px 0 #ff362430, 1px -1px 0 #ff362430,
      -1px 1px 0 #ff362430, 1px 1px 0 #ff362430;
  }
  .tag {
    display: flex;
    font-size: 20px;
    font-weight: 500;
    background: $color-hell-red;
    color: $color-red;
    margin: 0 12px 0 0;
    padding: 8px 22px 8px 22px;
    border-radius: 24px;
    border: 1px solid $color-hell-red;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    &:hover {
      background: $color-red;
      color: white;
      filter: drop-shadow(0px 0px 0px #4824ff25);
    }
  }
  .selected {
    background: #04001a;
    color: white;
    border: 1px solid $color-red;
  }
}

/* --- Footer --- */

.footer {
  height: 80px;
  text-align: center;
  font-size: 14px;
  border-top: 1px solid #eae5ff;
  margin-left: -5vw;
  margin-right: -5vw;
  align-content: center;
}

/* --- Button To Up --- */

.btn-up {
  width: 100px;
  height: 70px;
  position: fixed;
  right: 5vw;
  bottom: 6vw;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s linear;
  animation: appearance 2s forwards;
  border: none;
  opacity: 0;
  transform: translateY(0);
  background: transparent;
  z-index: 1000;
  &::before {
    content: "";
    width: 100px;
    height: 70px;
    background-size: 100% 100%;
    background-image: url(../src/assets/icons/more_icon.png);
  }
}

@keyframes appearance {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
