$color-black: #000;
$color-red: #a31b0f;

body {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 0;
  margin-bottom: 0;
  
  font-family: "Manrope", sans-serif;
  font-weight: 200;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* --- HEADER --- */

header {
  display: flex;
  height: 100px;
  place-items: center;
}

.menu {
  height: 100px;
  width: 100%;
  align-content: center;
}

header a {
  font-size: 18px;
  font-weight: 500;
  margin-right: 3%;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

header a:hover {
  color: $color-red;
}

.btn {
  height: 45px;
  width: 210px;
  border-radius: 55px;
  background: $color-red;
  border: none;
  color: white;
  font-weight: 500;
  font-size: 18px;
  transition: 0.5s ease-in-out;
  overflow: hidden;
  margin-right: 2%;
  cursor: pointer;
  outline: none;
}

.btn:hover {
  filter: drop-shadow(0px 0px 20px #8f160140);
  transform: scale(1.01);
}

.icon {
  height: 45px;
  cursor: pointer;
  transition: 0.3s;
  margin-right: 2%;
}

.icon.instagram {
  content: url(./assets/icons/insta.svg);
}

.icon.email {
  content: url(./assets/icons/email.svg);
}

.switch {
  width: 120px;
  height: 45px;
  border-radius: 55px;
  background-color: #eeebff;
  overflow: hidden;
}

.theme {
  margin: 2px;
  top: -1px;
  width: 45px;
  height: 43px;
  border-radius: 55px;
  background-color: white;
  transition: 0.5s ease-in-out;
  position: relative;
}

.theme.light::after {
  /* content: url(../public/icons/sun.png); */
  content: "";
  width: 15px;
  height: 15px;
  background-color: $color-black;
  position: absolute;
  border-radius: 100%;
  left: 50%;
  top: 50%;
  margin-top: -7.5px;
  margin-left: -7.5px;
}

.switch:hover > .theme.light {
  transform: rotate(45deg);
}

/* --- Welcome block --- */

.welcome-block {
  background-color: white;
  height: 650px;
  display: flex;
  place-items: center;
  h1 {
    font-size: 52px;
  }
  h2 {
    font-size: 42px;
    font-weight: 450;
  }
  h3 {
    font-size: 30px;
    font-weight: 300;
  }
  .title {
    background: linear-gradient(to right, #a31b0f, #a31b0f, #e26c0b, #eeebff, #b65404, #a31b0f, #a31b0f);
    background-clip: text;
    color: transparent;
    background-size: 200%;
    animation: gradientAnimation 4s linear infinite;
  }
  @keyframes gradientAnimation {
    0% {background-position: 200% 50%;}
    100% {background-position: 0% 50%;}
  }

  .first-block {
    align-content: center;
    width: 55%;
  }
}

/* --- Service Block --- */

.service-block {
  height: 500px;
  margin-left: -5vw;
  margin-right: -5vw;
  padding: 0 5vw;
  background: #fbfaff;
  align-content: center;
  .tag {
    display: flex;
    font-size: 22px;
    font-weight: 500;
    background: #fbedec;
    color: $color-red;
    margin: 0 12px 0 0;
    padding: 8px 22px 8px 8px;
    border-radius: 24px;
    white-space: nowrap;
    .tag-icon {
      margin: -10px;
      padding: 0;
      position: relative;
      content: url(./assets/icons/check.png);
      background: none;
      scale: 0.33;
      height: 50px;
    }
  }
}


/* --- Portfolio Block --- */
